[submodule "libs/cduhub"]
	path = libs/cduhub
	url = https://github.com/marko-pilipovicc/cduhub
[submodule "libs/DcsOcr"]
	path = libs/DcsOcr
	url = https://github.com/marko-pilipovicc/DCS-OCR.git
[submodule "libs/DCSFPCommon"]
	path = libs/DCSFPCommon
	url = https://github.com/marko-pilipovicc/DCSFPCommon
