[submodule "libs/cduhub"]
	path = libs/cduhub
	url = https://github.com/marko-pilipovicc/cduhub
[submodule "libs/DcsOcr"]
	path = libs/DcsOcr
	url = https://github.com/marko-pilipovicc/DCS-OCR
[submodule "DCSFPCommon"]
	path = DCSFPCommon
	url = https://github.com/marko-pilipovicc/DCSFPCommon
